@model DigitalLife_Work.Models.BLL.Project
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/WebCms/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-6 my-4">
        <div class="card shadow mb-4">
            <div class="card-header py-4">
                Update  <a asp-action="Index" class="float-right btn btn-outline-secondary">Back to index</a>
            </div>
            <div class="card-body">
                <form asp-action="Edit">
                    <input type="hidden" asp-for="Id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Name</label>
                        <input type="text" asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




